---
layout: default
---


<!-- 内容区 S -->
<div class="home list-group">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="{{ post.categories }}">
      <a class="post-content list-group-item" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-text">
          <h2>{{ post.title }}</h2>
          <p class="post-intro">{{ post.intro }}</p>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} ,wp</p>
        </div> 
      </a> 
    </li>
    {% endfor %}
  </ul>
</div>
<!-- 内容区 E -->



<!-- 分页链接 -->
{% if paginator.total_pages > 1 %}
<div class="pagination">

  <!-- 向前按钮 -->
  {% if paginator.previous_page %}
    <a class="page-num" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
  {% else %}
    <span class="page-num">上一页</span>
  {% endif %}

  <!-- 页码输出 -->
  <span><em>{{ paginator.page }}</em>&nbsp;/&nbsp;<em>{{ paginator.total_pages }}</em></span>
<!--
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
-->
  {% if paginator.next_page %}
    <a class="page-num" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
  {% else %}
    <span class="page-num">下一页</span>
  {% endif %}
</div>
{% endif %}

