<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>@wpzheng copyright&nbsp;|&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.description }}</li>
        </ul>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">
  <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>
</footer>
<script src="../assets/javascripts/main.js"></script>