<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>@wpzheng copyright&nbsp;|&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.description }}</li>
        </ul>
      </div>

      
    <!--
      <div class="footer-col  footer-col-3">
        <p class="text"></p>
      </div>
    -->
    </div>

  </div>

</footer>
