
<!-- 页面顶部导航 -->
<div class="nav" id="m-nav">

    <!-- PC页面展示元素 -->
    <div class="nav-pc_inner">
        <a href="{{ site.baseurl }}/" class="nav-logo"><img src="../../../../assets/images/icon.png"></a>
        <!-- 搜索功能 S -->
        <div class="cb-search-tool">
            <input type="text" class="form-control cb-search-content" id="cb-search-content" placeholder="文章标题 分类标签" >
        </div>
        <!-- 搜索功能 E -->
        <div class="nav-pc_tag">
            <a href="javascript:void(0)" data-class="git">Git</a> 
            <a href="javascript:void(0)" data-class="react">React</a> 
            <a href="javascript:void(0)" data-class="angular">AngularJS</a>
            <a href="/about">关于</a>
        </div>
    </div>

    <!-- Mobile页面展示元素 -->
    <a class="m-home" href="{{ site.baseurl }}/">首页</a>
</div>
