<div class="nav" id="m-nav">
    <div style="
    position:relative;
    width: 980px;
    margin: 0 auto;
    height: 56px;
    line-height: 56px;
    display: block;">
        <a href="{{ site.baseurl }}/"><img src="../../../../assets/images/icon.png" alt="" style="width:200px"></a>
        <div class="hsite-nav" style="position: absolute;top:0;right:10px;">
        <a href="javascript:void(0)" data-class="git">Git</a> 
            <a href="javascript:void(0)" data-class="react">React</a> 
            <a href="javascript:void(0)" data-class="angular">AngularJS</a>
            <a href="/about">关于</a>
        </div>
    </div>

    <!-- <h2></h2> -->
    <a class="m-home" href="{{ site.baseurl }}/">首页</a>
    <!-- <div class="m-bottom">
        <ul>
            <li><a class="" href="{{ site.baseurl }}/">首页</a></li>
        </ul>
    </div> -->
</div>

<header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/">首页</a>
    <!-- <div class="site-nav">
      <div class="trigger"> -->
    {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
     <!--</div>
    </div> -->
</header>
<!--
<div class="site-nav">
    <a href="javascript:void(0)" data-class="react">React</a>
    <a href="javascript:void(0)" data-class="angular">AngularJS</a>
</div>-->
