/*******
* 顶部导航样式
**************/

.nav {
  border-bottom:3px solid #ddd;
  a{ 
    margin:0 10px;
  }
  .nav-pc_inner{
    position:relative;
    width: 1000px;
    margin: 0 auto;
    height: 56px;
    line-height: 56px;
    display: block;
    img{width:200px;}
    .nav-pc_tag{
      position: absolute;
      top:0;
      right:10px;
    }
    .nav-logo{
      margin:0;
      img{margin:0}
    }
  }
}


/*******
* 翻页功能样式
**************/

.pagination{
  width:100%;
  text-align:center;
  .page-num{
    display: inline-block;
    padding: 5px 14px;
    background-color: #dfdfdf;
    border: 1px solid #fff;
    border-radius: 15px;
  }
  a.page-num:hover{
    background-color:#fff;
  }
  em{
    font-style: normal;
  }
}




/*******
* 底部样式
**************/

.site-footer {
  padding: $spacing-unit 0;
  .footer-col-wrapper {
    font-size: 12px;
    color: #fff;
    text-align:center;
    a{color:#fff;}
  }
}



/*******
* 文章页面样式
**************/

.page-content {
  padding: 71px 0;
  .post{
    background:#fff;
    padding:20px;
    -webkit-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
       -moz-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
         -o-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
    .post-header {
      position: relative;
      padding-bottom:20px;
      margin-bottom: $spacing-unit;
    }
    .post-title {
      font-size: 25px;
      line-height: 1;
      font-weight: 300;
      color: $title-color;
    }
  }
  /* 文章 */
  .article{
    @extend %fontmargin;
    a{
      color:blue;
    }
  }
}




/*******
* 列表页面样式
**************/

.post-list {
  > li {
    box-sizing: initial;
    overflow:hidden;
    margin-bottom: $spacing-unit;
    background:#fff;
    padding:10px;
    // -webkit-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
    //    -moz-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
    //      -o-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
    //         box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.2);
    .post-text{
      position: relative;
      padding: 10px 0 20px;
      .post-intro{
        margin-bottom:0;
        color:#737373;
      }
    }
  }
}


/*******
* 列表和文章页面公共样式
**************/
.post-meta {
  display:inline-block;
  position: absolute;
  bottom:0;
  right:0;
  font-size: $small-font-size;
  color: $grey-color;
  text-align:right;
    
}
.post-content{
  @extend %fontsize;
  h2{
    margin-bottom: $spacing-unit;
  }
  .error{
    color:red;
  }
}



/* 移动端 */
#m-nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:56px;
  background-color:#ffffff;
  z-index:10;
}
#m-nav .m-home{
  display:none;
  height: 30px;
  width: 60px;
  background: #337ab7;
  text-align: center;
  line-height: 30px;
  color: #fff;
  position: absolute;
  left: 8px;
  top: 8px;
  text-decoration: none;
}
@media screen and (max-width:768px){
  // Mobile css
  #m-nav{
    display:block;
    height:46px;
    background-color:#161616;
    display:inline-block;
    border-bottom:0;
    .nav-pc_inner{display:none;}
    .m-home{display:block;}
  }
  .wrapper{
    width:95%;
  }
  .post-list > li{
    width:auto;
  }
  .post-list > li .post-img{
    width:100%;
    height:150px;
    text-align:center;
    float:none;
  }
  .post-list > li .post-text{
    width:100%;
  }
  .post-list > li h2 a{
    font-size: 18px;
    height: 22px;
    line-height: 24px;
    margin: 10px 0;
  }
  .post-title {
    font-size: 25px;
  }
  .site-nav,.site-header{
    display:none;
  }
  .post-list > li .post-img img{
    width:100%;
    height:150px;
  }
}
