/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;
    position: relative;
    text-shadow: 0 1px 0 #FFF; 
    border-bottom: 1px solid #DEDDDF;
    box-shadow: 0 1px 2px rgba(0,0,0,.04),inset 0 1px 0 #FFF;
    background-color: #fbfcfd;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f8f9fa));
    background-image: -webkit-linear-gradient(top,#fcfdfe,#f8f9fa);
    background-image: -moz-linear-gradient(top,#fcfdfe,#f8f9fa);
    background-image: linear-gradient(top,#fcfdfe,#f8f9fa);
    background-repeat: repeat-x;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    img{
        width:300px;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        overflow:hidden;
        margin-bottom: $spacing-unit;
        background:#fff;
        padding:10px;
        .post-img{
            display:block;
            width:190px;
            height:150px;
            line-height:150px;
            background:$background-img-color; 
            float:left;
            margin-right:$img-right;
            overflow:hidden;
            img{
                -webkit-transition: all .25s linear .1s;
                   -moz-transition: all .25s linear .1s;
                    -ms-transition: all .25s linear .1s;
                     -o-transition: all .25s linear .1s;
                        transition: all .25s linear .1s;
            }
            img:hover{
                -webkit-transform: scale(1.05);
                   -moz-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                     -o-transform: scale(1.05);
                        transform: scale(1.05);
            }
        }
        .post-text{
            float:left;
            width:535px;
            .post-intro{margin-bottom:0;}
        }
        &:hover{
            //background:$first-bgcolor;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align:right;
    
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: bold;
    color: $title-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    .title{
        display: block;
        background: $title-background;
        color: $title-color;
        font-weight:bold;
    }
    .error{
        color:red;
    }
}
